@font-face {
  font-family: TickingTimer;
  src: url(./assets/TickingTimebombBB.ttf);
}
@font-face {
  font-family: Pixeloid;
  src: url(./assets/PixeloidSans-Bold.otf);
}

* {
  /* Padding won't be taken into affect when calculating the width of an element */
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: hsl(213, 20%, 9%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(5px) brightness(20%); */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#header {
  position: absolute;
  width: 40%;
  padding: 15px;
  padding-top: 0px;
  left: 0;
}
#gunIcon svg {
  fill: rgb(255, 255, 255);
}
#shopCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: auto;
  right: 0;
}
#PUTimerCont {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 40%;
  width: 50%;
}
#shopCont p {
  color: rgb(255, 255, 255);
  font-family: Pixeloid;
  font-size: 1.3rem;
}
#powerUpScr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  width: max(400px, 30vw);
}
#powerUpScr button {
  margin: 15px;
}
#powerUpScr div {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
}
#PUdesc {
  font-family: Pixeloid;
}

#inventoryScr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  padding: 30px;
}
#inventoryScr p {
  font-family: Pixeloid;
  font-size: 1.7rem;
  margin: 0px;
}
#Hmeter,
#Bmeter,
#Fmeter {
  background-color: rgb(67, 73, 87);
  width: 100%;
  height: 35px;
  padding: 0px 7px 0px 7px;
  border-radius: 20px;
  margin-right: 15px;
}
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
  -webkit-transition: width 0.5s;
}
#Fmeter {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

#timer,
#timer2,
#timer3 {
  border: 3px solid white;
  background-color: rgb(67, 73, 87);
  background-color: rgb(108, 120, 140);
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: TickingTimer;
  font-weight: bolder;
  border-radius: 25px;
  margin-right: 10px;
  box-shadow: inset 0px 0px 5px black;
  text-shadow: 0px 0px 2px rgb(216, 216, 216);
}
#timer2,
#timer3 {
  border-radius: 60px;
  background-color: rgb(70, 159, 224);
  transition: display cubic-bezier(0.075, 0.82, 0.165, 1);
}
#timer3 {
  background-color: rgb(229, 168, 0);
}
.text {
  font-family: Pixeloid;
  font-size: 1.2rem;
  color: white;
  margin: 0;
}
#score {
  margin-top: 6px;
}

#PUmsg {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
  opacity: 0;
  margin-bottom: 20px;
}

#pauseScr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

button {
  font-family: Pixeloid;
  font-size: 1.2rem;
  padding: 7px 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: 0.3s ease;
  box-shadow: 1px 1px 3px black;
}

button:hover {
  cursor: pointer;
  transform: scale(1.15);
  box-shadow: 0px 0px 5px black;
}

#msg {
  font-family: Pixeloid;
  font-size: 1.3em;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOutBounce {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}
.fade-out {
  animation: fadeOut 0.5s forwards;
}

.timer-show {
  animation: fadeInBounce 0.5s forwards;
}

.timer-hide {
  animation: fadeOutBounce 0.5s forwards;
}
